*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --border: 1px solid black;
}

body{
  background-color: azure;
}

nav{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav > a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: var(--border);
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px black;
}

nav > a:hover{
    transform: scale(0.95);
    transition: 0.2s;
}

.hero{
    margin-top: 3rem;
    min-height: clamp(50vh, 60vh, 70vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 1rem;
    background-color: azure;
}

.hero-content{
    flex: 0 0 clamp(300px, 40vw + 50px, 550px);
}

.hero-content > p{
    font-size: clamp(0.7rem, 2vw, 1.3rem);
    text-align: center;
}

.hero-content > p span{
    display: inline-block;
    font-size: clamp(1rem, 2vw + 0.2rem, 1.7rem);
    padding: 0.5rem;
    font-weight: 700;
}

.hero-img{
    min-height: clamp(50%, 60%, 70%);
    margin-left: auto;
    flex: 0 0 clamp(300px, 40vw + 50px, 550px);
}

.hero-img img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.skills{
    margin-top: 5rem;
    background-color: aliceblue;
    padding-top: 2rem;
}

.skills > h1{
    text-align: center;
    font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}

.skill-set{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 400px));
    gap: 5rem;
    justify-content: center;
    padding-inline: 2rem;
    margin-top: 3rem;
}

.skill{
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 3px  black;
    border-radius: 2rem;
}

.skill:hover{
    transform: scale(0.95);
    transition: 0.2s;
    background-color: black;
}

.skill > i{
    font-size: clamp(5rem, 10rem + 3vw, 15rem);
    aspect-ratio: 3/4;
    gap: 3rem;
}

.skill:hover > i{
    color: white;
}

.skill > p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: auto;
}

.skill:hover > p{
    color: white;
}

.projects{
    text-align: center;
    margin-top: 5rem;
}

.projects h1{
    font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}

.project-container{
    gap: 1rem;
}

.project-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.project-content img{
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
}

.project-content a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

footer{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

footer h1{
    text-align: center;
    font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}


.contact{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
}

.contact i{
    font-size: 5rem;
    color: black;
}

@media (max-width: 767px) { 
    nav{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    }

    nav > a{
        width: 30vw;
        text-align: center;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 5rem;
    }

    .hero-content{
    flex: 0 0 clamp(200px, 20vh + 50px, 300px);
    }

    .hero-img{
        margin: auto;
    }

    .hero-content > p{
    font-size: clamp(1rem, 2vw + 0.5rem, 1.7rem);
    line-height: 1.5rem;
    }

    .skill-set{
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 400px));
    }

    .contact{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        gap: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) { 
    .hero{
    min-height: clamp(30vh, 50vh, 60vh);
    }
    
    .hero-content > p{
    font-size: clamp(1rem, 2vw + 0.5rem, 1.7rem);
    line-height: 2rem;
    }

    .hero-content > p span{
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
    padding: 0.5rem;
    font-weight: 700;
    }

    .hero-content{
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1024px) { 
    .hero-content{
        display: flex;
        align-items: center;
    }

     .hero-content > p{
        font-size: clamp(1rem, 2vw + 0.5rem, 1.7rem);
        line-height: 2.3rem;
    }

    .hero-content > p span{
        font-size: clamp(1.8rem, 2vw + 0.8rem, 2.3rem);
        padding: 0.5rem;
        font-weight: 700;
    }
}